#viewportContainer {
    position: relative;
}
#textBoxContainer {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: white;
    border-radius: 10px;
}
#dialogContainer {
   
}
#dialogContainer p {
    padding: 1rem;

}
#uiContainner {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.221);
    top: 0;
    left: 0
    ;
}
#uiContainner span{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px black;
}
